/* MENU STYLES */

.navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    border-right: 1px solid #222222;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out; /* Transición suave al cambiar el ancho */
}

/* PRINCIPAL BAR */

.principal-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.principal-bar li {
    margin-left: -20px;
    width: 100%;
}

.principal-bar .icon {
    width: 30px;
    height: 30px;
    align-items: left;
    margin-right: 10px;
    margin-bottom: -10px;
    transition: all 0.3s ease-in-out; /* Transición en tamaño y posición */
}

.principal-bar .main-li {
    margin-bottom: 50px;
}

.principal-bar .icon.main-icon {
    width: 60px;
    height: 60px;
    margin-bottom: -20px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out; /* Suaviza cambios de tamaño */
}

.principal-bar .main-span {
    font-size: 23px;
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
    transition: opacity 0.3s ease-in-out;
}

.principal-bar .icon.search-icon {
    margin-left: -7px;
    margin-top: 15px;
}

.principal-bar .icon.heart-icon {
    margin-left: -6px;
    margin-top: 17px;
}


.principal-bar .icon.pfp {
    border-radius: 50%;
    margin-left: 1px;
}


.principal-bar button {
    width: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    transition: all 0.3s ease-in-out;
}

/* SECONDARY BAR */

.secondary-bar {
    display: inline-flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 10px;
    gap: 15px;
}

.secondary-bar li {
    justify-content: center;
    margin-left: -10px;
}

.secondary-bar .icon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out; /* Suaviza cambios en íconos secundarios */
}

.secondary-bar .icon.linkedin-icon {
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
}

.secondary-bar .icon.github-icon {
    width: 35px;
    height: 35px;
    margin-bottom: -10px;
    margin-left: -5px;
}

.principal-bar span,
.secondary-bar span {
    font-size: 17px;
    font-weight: bold;
    font-family: system-ui;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: center; 
    align-items: center; 
}

/* Responsive Nav */
@media (max-width: 1264px) {
    .navbar {
        width: 100px;
        transition: width 0.3s ease-in-out;
    }

    .principal-bar span,
    .secondary-bar span {
        display: none;
    }

    .principal-bar .icon,
    .secondary-bar .icon {
        display: inline-block;
        margin-left: 10px;
    }

    .principal-bar .proyect-icon,
    .principal-bar .video-icon {
        margin-bottom: 5px;
    }

    .principal-bar .icon.main-icon {
        margin-left: 0px;
    }

    .principal-bar .icon.search-icon {
        margin-left: 3px;
        margin-top: 8px;
        margin-bottom:2px;
    }

    .principal-bar .icon.heart-icon {
        margin-left: 3px;
        margin-bottom:3px;
    }

    .principal-bar .icon.pfp {
        margin-left: 9px;
    }

    .secondary-bar .icon.linkedin-icon {
        margin-left: 0px;
    }
}


@media (min-width: 1265px) {
    .navbar {
        width: 250px; 
        transition: none; 
    }
}