@font-face {
    font-family: 'Billabong';
    src: url('../fonts/FontsFree-Net-Billabong.ttf') format('truetype');
  }

/* MENU STYLES */

.navbar {
    height: 100%;
    width: 244px;
    position: fixed;
    border-right: 1px solid #222222;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    margin-right: 100px;
}

.navbar a.active {
    font-weight: 900;
}

/* PRINCIPAL BAR */

.principal-bar {
    display: inline-flex;
    flex-direction: column;
    gap: 7px;
}

.principal-bar li {
    margin-left: -17px;
    height: 50px;
}


.principal-bar .icon {
    align-items: left;
    transition: all 0.3s ease-in-out; /* Transición en tamaño y posición */
}

.principal-bar .main-li {
    margin-bottom: 30px;
    width: 100%;
    text-decoration: none;
}

.principal-bar .icon.main-icon {
    display: none;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.principal-bar .icon.home-icon {
    margin-left: 1px;
    width: 25px;
    height: 24px;
}


.principal-bar .icon.search-icon {
    margin-left: -7px;
    width: 28px;
    height: 28px;
}

.principal-bar .icon.proyect-icon {
    width: 25px;
    height: 25px;
}

.principal-bar .icon.video-icon {
    margin-left: -2px;
    width: 25px;
    height: 25px;
}

.principal-bar .icon.msg-icon {
    margin-left: 0px;
    width: 22px;
    height: 22px;
}


.principal-bar .icon.heart-icon {
    margin-left: -9px;
    width: 27px;
    height: 27px;
}

.principal-bar .icon.pfp {
    border-radius: 50%;
    margin-left: -3px;
    width: 27px;
    height: 27px;
}


.principal-bar button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    display: flex;
    transition: all 0.3s ease-in-out;
}

.principal-bar li a,
.principal-bar li button {
  display: flex;
  align-items: center;
  height: 100%; 
  text-decoration: none;
}

/* SECONDARY BAR */

.secondary-bar {
    display: inline-flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 5px;
    gap: 10px;
}


.secondary-bar li {
    width: 40px; 
    height: 30px; 
    display: flex;

}

.secondary-bar li a {
    width: 100%;
    height:100%;
}

.secondary-bar .icon {
    margin-top: 7px;
}

.secondary-bar .icon.linkedin-icon {
    width: 25px;
    height: 25px;
    margin-bottom: -10px;
    margin-left: -10px;
    position: relative;
    top: -3px;
}

.secondary-bar .icon.github-icon {
    width: 25px;
    height: 25px;
    margin-bottom: -14px;
    margin-left: -11px;
    position: relative;
    top: -8px;
}


.principal-bar span,
.secondary-bar span {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    margin-left: 15px;
}

.secondary-bar li .git-text {
    margin-top: 6px;
}


.principal-bar .main-span {
    font-size: 30px;
    font-weight:normal;
    margin-left: 0px;
    margin-bottom:-30px;
    font-family: Billabong;
    
}


.principal-bar li.item:not(.main-li),
.secondary-bar li {
    padding: 10px 15px; 
    border-radius: 8px; 
    margin-left: -20px;
    width: 100%;
    
}

/* Hover Effect for Navbar Options */
.principal-bar li:not(.main-li):hover,
.secondary-bar li:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out;
}

.principal-bar li:not(.main-li):hover {
    padding-left: 10px;
    margin-left: -27px;
    width: 100%;
}

.secondary-bar li:hover {
    width: 87%;
    padding-left: 25px;
    margin-left: -30px;
}

/* Responsive Nav */
@media (max-width: 1264px) {
    .navbar {
        width: 72px;
        transition: width 0.3s ease-in-out;
    }

    .principal-bar span,
    .secondary-bar span {
        display: none;
    }

    .principal-bar li{
        margin-left: -17px;
    }

    .secondary-bar {
        gap: 30px;
        margin-bottom: 33px;
    }

    .secondary-bar li {
        padding: 0px;
        margin-left: -10px;
    }
    .principal-bar .icon.main-icon {
        display: flex;
        margin-left: -3px;
        width: 35px;
        height: 35px;
    }

    .secondary-bar .icon.linkedin-icon {
        margin-left: -5px;
        top: 4px;
    }

    .secondary-bar .icon.github-icon {
        margin-left: -5px;
        margin-top: 10px;
        top: 0px;
    }

    /* Hover Effect for Mobile */

    .principal-bar li:not(.main-li):hover {
        padding: 0px 5px 0px 10px;
        margin-left: -27px;
    }


    .secondary-bar li:hover{
        padding: 0px 15px;
        margin-left: -32px;
        width: 17px;
        height: 50px;
        margin-left: -25px;
        margin-bottom: -20px;
    }

}


